<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssginc.unnie.mypage.mapper.MyPageReviewMapper">


    <!-- 리뷰 목록 조회 (마이페이지-내가 작성한 리뷰) -->
    <select id="getReviewListById" resultType="com.ssginc.unnie.mypage.dto.review.MyPageReviewResponse">
        SELECT
        r.review_id AS reviewId,
        r.review_member_id AS reviewMemberId,
        r.review_receipt_id AS reviewReceiptId,
        r.review_image AS reviewImage,
        r.review_rate AS reviewRate,
        r.review_content AS reviewContent,
        r.review_date AS reviewDate,
        m.member_nickname AS memberNickName,
        s.shop_name AS shopName,
        GROUP_CONCAT(k.keyword SEPARATOR ',') AS reviewKeyword
        FROM review r
        JOIN member m ON r.review_member_id = m.member_id
        JOIN receipt rc ON r.review_receipt_id = rc.receipt_id
        JOIN shop s ON rc.receipt_shop_id = s.shop_id
        LEFT JOIN review_keyword rk ON r.review_id = rk.review_id
        LEFT JOIN keyword k ON rk.keyword_id = k.keyword_id
        WHERE r.review_status = 0
        AND r.review_member_id = #{reviewMemberId}
        GROUP BY r.review_id
        <choose>
            <when test="sortType == 'newest'">
                ORDER BY r.review_date DESC
            </when>
            <when test="sortType == 'oldest'">
                ORDER BY r.review_date ASC
            </when>
            <otherwise>
                ORDER BY r.review_date DESC
            </otherwise>
        </choose>
        LIMIT #{offset}, #{limit}
    </select>


    <!-- 리뷰 개수 조회 -->
    <select id="getReviewCountByMemberId" resultType="int">
        SELECT
        COUNT(DISTINCT r.review_id)
        FROM review r
        JOIN receipt rc ON r.review_receipt_id = rc.receipt_id
        JOIN shop s ON rc.receipt_shop_id = s.shop_id
        WHERE r.review_status = 0
        AND r.review_member_id = #{reviewMemberId}
    </select>

</mapper>
