<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssginc.unnie.mypage.mapper.MyPageMemberMapper">

    <select id="findById" parameterType="long" resultType="com.ssginc.unnie.mypage.dto.member.MyPageMemberResponse">
        SELECT
            member_id,
            member_email,
            member_name,
            member_nickname,
            member_phone,
            member_profile
        FROM member
        WHERE member_id = #{memberId}
    </select>

    <select id="countByNickname" parameterType="map" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM member
        WHERE member_nickname = #{nickname}
        AND member_id != #{memberId}
    </select>

    <select id="findMemberById" resultType="com.ssginc.unnie.member.vo.Member">
        SELECT * FROM member WHERE member_id = #{memberId}
    </select>

    <update id="updateProfile">
        UPDATE member
        SET member_profile = #{memberProfile},
            member_updated_at = current_timestamp
        WHERE member_id = #{memberId}
    </update>

    <update id="updateDefaultProfile">
        UPDATE member
        SET member_profile = "https://unnie-bucket2.s3.ap-northeast-2.amazonaws.com/profile.png",
            member_updated_at = current_timestamp
        WHERE member_id = #{memberId}
    </update>

    <update id="updateNickname">
        UPDATE member
        SET member_nickname = #{memberNickname},
            member_updated_at = current_timestamp
        WHERE member_id = #{memberId}
    </update>

    <update id="updatePhone">
        UPDATE member
        SET member_phone = #{memberPhone},
            member_updated_at = current_timestamp
        WHERE member_id = #{memberId}
    </update>

    <update id="updatePassword">
        UPDATE member
        SET member_pw = #{memberPw},
            member_updated_at = current_timestamp
        WHERE member_id = #{memberId}
    </update>

    <update id="withdrawMember" parameterType="long">
        UPDATE member
        SET member_state = 2,
            member_updated_at = current_timestamp
        WHERE member_id = #{memberId}
    </update>
</mapper>