<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssginc.unnie.review.mapper.ReceiptMapper">

    <!-- 영수증 삽입 -->
    <insert id="insertReceipt" useGeneratedKeys="true" keyProperty="receiptId">
        INSERT INTO RECEIPT (RECEIPT_SHOP_ID, RECEIPT_DATE, RECEIPT_AMOUNT, RECEIPT_BUSINESS_NUMBER, RECEIPT_APPROVAL_NUMBER, RECEIPT_SHOP_NAME)
        VALUES (#{receiptShopId}, #{receiptDate}, #{receiptAmount}, #{receiptBusinessNumber}, #{receiptApprovalNumber}, #{receiptShopName})
    </insert>

    <!-- 영수증 조회 -->
    <select id="findReceiptById" parameterType="long" resultType="com.ssginc.unnie.review.dto.ReceiptResponse">
        SELECT
            receipt_id AS receiptId,
            receipt_date As receiptDate,
            receipt_amount AS receiptAmount,
            receipt_business_number AS receiptBusinessNumber,
            receipt_approval_number AS receiptApprovalNumber,
            receipt_shop_name AS receiptShopName
        FROM receipt
        WHERE receipt_id = #{receiptId}
    </select>

    <select id="findReceiptForReviewContext"
            parameterType="long"
            resultType="com.ssginc.unnie.review.dto.ReceiptForReviewContext">
        SELECT
        receipt_id AS receiptId,
        receipt_shop_id AS receiptShopId,
        receipt_approval_number AS receiptApprovalNumber,
        receipt_date AS receiptDate
        FROM receipt
        WHERE receipt_id = #{receiptId}
    </select>

    <!-- 업체 이름으로 샵ID 조회 (receipt insert) -->
    <select id="findShopIdByName" resultType="int">
        SELECT shop_id FROM shop WHERE TRIM(shop_name) = #{shopName} LIMIT 1
    </select>

    <!-- receiptId로 영수증의 shopId 조회 -->
    <select id="getShopIdByReceiptId" resultType="long" parameterType="long">
        SELECT receipt_shop_id
        FROM receipt
        WHERE receipt_id = #{receiptId}
    </select>


</mapper>